<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <br>
    <p style="line-height:1.5em;">환영합니다! <img width="70px" style="border-radius: 50%;" src ="<%= profile_image %>"> <%= nickname %> 님.</p>
    <p>THE DRAW 응모 알림 구독완료되었습니다. 좋은 하루 되세요 :)</p>
  </body>
</html>