<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <a href="/subscribe" style="text-decoration: none;"><button><span style="font-size: 1.2em;">Subscribe with kakaotalk</span></button></a>
  </body>
</html>
